/* /styles: 스타일 및 테마 관련 파일을 저장하는 폴더 */

@layer reset, base, tokens, recipes, utilities;

@layer reset {
  body,
  h1,
  h2,
  h3,
  p {
    margin: 0;
  }
}

@layer base {
  body {
    line-height: 1.3;
    font-family: 'Pretendard Variable', sans-serif;
  }

  button {
    cursor: pointer;
  }
}

@layer utilities {
  /* 재사용할 유틸리티 */
}
